
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --accent-color: #2c79e8;
    --accent-color-hover:#3065d0;

    --accent-dark: rgb(48, 48, 48);
    --accent-dark-hover: #202020 ;

    --background-alert:rgb(236 17 17);
    --hover-alert: rgb(201, 17, 17);


}

/* Global */
* {
	box-sizing: border-box;
	font-optical-sizing: auto;
	font-style: normal;
	outline: none !important;
	font-family: 'Poppins', sans-serif;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}


.Disabled{
    pointer-events: none;
}

.BrandBtn {
    background-color: var(--accent-color);
    color: white;
    padding: 14px 43px;
    cursor: pointer;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    user-select: none;
    border: none;
    /* border: 1px solid black; */
    font-weight: 500;
    outline: none;
    text-align: center;
}

.BrandBtn:hover {
    background-color: var(--accent-color-hover);
    transition: all 0.2s ease-in-out;
}

.BrandBtn.Dark{
    background-color:var( --accent-dark);
}
.BrandBtn.Dark:hover{
    color: #f1f1f1;
    background-color:var(--accent-dark-hover);
}

.BrandBtn.Delete{
    background-color: var(--background-alert);
}
.BrandBtn.Delete:hover{
    background-color: var(--hover-alert);
}


.BrandBtn img{
    width: 20px;
    height: 20px;
}

.BrandBtn.Round {
    border-radius: 500px;
    padding: 10px 15px;
    background-color: rgb(235 235 235);
}

.BrandBtn.Round img{
    width: 22px;
    height: 22px;
}


.hidden{
    display: none !important;
}

.Modal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    align-items: center;
    backdrop-filter: blur(2px);
    /* overflow: hidden; */
}

.ModalContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 685px;
    align-items: center;
    background: white;
    /* max-height: 500px; */
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.Modal.Confirm{
    z-index: 9999999;
}

.Modal .ConfirmBox .BrandBtn {
    padding: 10px 55px;
    font-size: 16px;
}
.Modal.Confirm form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Modal.Confirm .ModalContent{
    max-width: 550px;
}

.Modal .ConfirmBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    padding-top: 15px;
}

body.ModalOpen {
    overflow: hidden;
}

/* NavBar */

.NavBar {
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #26373f;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 1;
}

.NavBar .Logo {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    text-decoration: auto;
}

.NavBar .Logo img{
    width: 30px;
    height: 30px;
}

.NavBar .WideSearch {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavBar .WideSearch input {
    /* padding: 6px 23px; */
    width: 100%;
    max-width: 500px;
    padding: 8px 12px;
    border: 1px solid #acacac;
    border-radius: 20px;
}

.CreatePostBtn {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    text-wrap: nowrap;
}

.CreatePostBtn:hover {
    transform: scale(1.05);
}

.ActionBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



/* Create_Posts */

.CPost {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 685px;
    align-items: center;
    background: #f5f5f5;
    /* max-height: 500px; */
    padding: 20px;
    /* margin: 0 auto; */
    border-radius: 20px;
    position: relative;
}


.CPostContainer .ModalCancel {
    position: absolute;
    top: 27px;
    right: 20px;
    cursor: pointer;
    width: 20px;
    height: 25px;
}
.CPostContainer .ModalCancel:before {
  content: '';
  background-color: #2f2f2f;
  display: block;
  width: 3px;
  height: 20px;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  right: 6px;
}

.CPostContainer .ModalCancel:after {
  content: '';
  background-color: #2f2f2f;
  display: block;
  width: 3px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 6px;
}

.FileUpload {
    padding: 12px 10px;
    display: flex;
    border-radius: 10px;
    width: 100%;
    max-width: 520px;
    /* justify-content: space-between; */
    gap: 8px;
    position: relative;
}

.FileUpload  input {
    opacity: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.FileUpload label {
    max-width: 150px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e9e9e9;
    border-radius: 100px;
}

.FileUpload label:hover {
    background: #f0f0f0;
    transition: all 0.2s ease-in-out;
}


.FileUpload label img {
    width: 25px;
    height: 25px;
}

.UploadOverview {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CPost .UploadedFiles {
    display: flex;
    gap: 15px;
}


.CPost .UploadedFile {
    padding: 12px 10px;
    /* max-width: 224px; */
}

.CPost .UploadedFile .FileName {
    display: flex;
    align-items: center;
    gap: 10px;
}


.CPost .UploadedFile .RemoveUploadedFile{
    cursor: pointer;
    font-weight: 100;
    color: #9f3535;
    /* margin-left: 8px; */
    font-size: 30px;
}





.DeleteBtn {
    position: absolute;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    background: #ef1818;
    color: white;
    font-weight: 600;
    right: -60px;
    top: 3px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DeleteBtn img {
    width: 25px;
    height: 25px;
}

.DeleteBtn:hover {
    background: #d40f0f;
}
.FeedPostHeader .PostDeleteBtn{

    top: 3px;
    border: 2px solid black;
    right: 0;

}
.FeedPostHeader .PostDeleteBtn img{
    width: 20px;
    height: 20px;
}



.PostArea {
    width: 100%;
    background: white;
    border: 1px #d4d4d4 solid;
    border-radius: 10px;
    position: relative;
}
#CPostContent {
    width: 100%;
    font-size: 23px;
    padding: 25px;
    max-width: 620px;
    resize: none;
    border: none;

}
.PostSubmitBtn {
    width: 100%;
    max-width: 200px;
    padding: 18px;
    font-size: 16px;
    font-weight: 600;
}




/* Feed_Posts */

.FlexContainer {
    display: flex;
    justify-content: center;
    padding-top: 85px;
}

.FeedContainer {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.FeedPost {
    width: 100%;
    background: #ebebeb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 20px;
    max-width: 600px;
    min-width: 460px;
}

.FeedPostHeader {
	display: flex;
	gap: 20px;
	align-items: center;
    position: relative;
}

.FeedPostHeader img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.FeedPost.Opened {
    background: #f0f0f0;
    padding: 20px;
    min-width: 650px;
    /* width: 100%; */
}


.FeedPostContent {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px 0px;
}


.FeedPostContent img {
    border-radius: 5px;
}

.UploadedFile {
    width: 100%;
    max-width: 300px;
    background: #dedede;
    padding: 20px;
    color: black;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}
.UploadedFile img {
    width: 30px;
    height: 30px;
}

.UploadedFile p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
}


.FeedPostLink{
    text-decoration: none;
}


.FeedPostInteractionCounters {
    color: #666769;
    font-size: 14px;
    display: flex;
    gap: 8px;
}


.FeedPostInteractions {
    display: flex;
    width: 100%;
    padding: 5px 10px;
    border-top: 1px solid #9e9e9e;
    margin-top: 10px;
    user-select: none;
}


.FeedPost.Opened .FeedPostInteractions {
border-bottom: 1px solid #9e9e9e;

}

.Interaction {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}
.Interaction:hover {
    transform: scale(1.1);
}

.Interaction img {
    width: 20px;
    height: 20px;
}


/* Comment Section */

.CommentSection .ModalCancel {
    position: absolute;
    top: 19px;
    right: 20px;
    cursor: pointer;
    width: 20px;
    height: 25px;
}
.CommentSection .ModalCancel:before {
  content: '';
  background-color: #2f2f2f;
  display: block;
  width: 3px;
  height: 20px;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  right: 6px;
}

.CommentSection .ModalCancel:after {
  content: '';
  background-color: #2f2f2f;
  display: block;
  width: 3px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 6px;
}


.ModalCommentsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    gap: 25px;
    padding-left: 15px;
}

.ModalCommentsContainer .InfoBox {
    padding: 20px;
    color: #5e5e5e;
    font-size: 18px;
}


.CommentsArea {
    width: 100%;
    /* max-height: 650px; */
    /* max-width: 600px; */
    overflow-y: auto;
    padding-bottom: 10px;
}

.CommentSection .ModalContent{
    max-height: 650px;
    max-width: 600px;
    overflow-y: auto;
    padding-bottom: 0px;
}


.CommentContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.CommentContainer .FeedPostInteractions {
    border: none !important;
    margin: 0px;
    gap: 15px;
    padding: 0px 10px;
}
.CommentContainer .FeedPostInteractions .Interaction {
    justify-content: flex-start;
    width: auto;
    /* margin: 0px; */
    font-size: 14px;
    padding: 5px;
}
.CommentContainer .FeedPostInteractions .Interaction img {
    width: 16px;
    height: 16px;
}

.ModalComment {
    width: 100%;
    background: #ebebeb;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 360px;
}

.ViewRepliesBtn { /* for replies preview */
    padding: 7px 0px;
    color: #545353;
    border: 1px solid #e8e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    max-width: 200px;
    background: #ffffff;
    font-size: 15px;
    gap: 5px;
    margin-left: 15px;
}

.ViewRepliesBtn:hover {
    background: #fafafa;
}

.RepliesContainer {
    padding: 15px 30px;
    border-left: 2px solid #e1e1e1;
    /* border-radius: 20px; */
}


.ModalCommentHeader {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
}


.ModalCommentHeader img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.ModalCommentContent {
    padding: 8px 0px;
    font-size: 16px;
}

.CreateModalComment {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ededed;
    padding: 10px;
    /* border: 1px solid; */
    /* border-radius: 15px; */
    padding: 8px;
    justify-content: center;
    gap: 10px;
    border-top: 2px solid #cacaca;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 520px;
}

.CommentContainer .CreateModalComment {
    position: relative;
    border-top: 0px;
    margin-top: 10px;
    padding: 12px 10px;
}

.CreateCommentReply {
    margin-left: 20px;
    max-width: 478px;
}



.CommentInput {
    padding: 10px;
    width: 100%;
    /* max-width: 430px; */
    background: #ededed;
    border-radius: 10px;
    border: none;
    resize: none;
    font-size: 16px;
}


.CreateCommentReply .CommentInput{
    max-width: 383px;
    max-height: 250px;
    overflow-y: auto;
} 



.CommentInput[contenteditable]:not(.has-content)::before { /* for replies */
    content: attr(placeholder);
    color: #a9a9a9; /* A light grey color is a good choice for placeholders */
    font-size: 16px;
}

.CommentInput[contenteditable] { /* for replies */
    caret-color: #5a5a5a;
}

.ReplyTag {
    background-color: #afc6ff;
    border: 1px solid #77b3d9;
    border-radius: 3px;
    padding: 2px 4px;
    margin-right: 2px;
    white-space: nowrap;
    font-weight: bold;
    user-select: none;
}




input.CommentSubmitBtn {
    padding: 12px 40px;
    background-image: url('Imgs/Icons/submit.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px 22px;
}

.CommentContainer input.CommentSubmitBtn {
    padding: 10px 30px;
    /* background-size: 15px 15px; */
}

input.CommentSubmitBtn:hover {
    background-color: var(--accent-color-hover);
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

/* Expanded Post  Comments*/
.FeedPost.Opened .Cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* z-index: 11111111; */
    /* padding-top: 20px; */
    /* height: 100vh; */
    max-height: 380px;
    overflow-y: auto;
    padding-top: 20px;
}


.FeedPost.Opened .ModalComment {
    background-color: #fefefe;
}

.FeedPost.Opened .ViewRepliesBtn {
    background: #f6f6f6;
    /* display: flex; */
    border: 2px solid #c8c8c8;
}
.FeedPost.Opened .ViewRepliesBtn:hover {
    background: #e2e1e1;
}

.FeedPost.Opened  .CreateModalComment {
    position: relative;
    background: #ffffff;
    justify-content: flex-start;
    border-radius: 15px;
    padding: 8px;
    max-width: 100%;
    border-top: 1px solid #cacaca;
    /* max-width: 530px; */
    margin-top: 15px;
}
.FeedPost.Opened  .CreateModalComment .CommentInput {
    background: white;
}